.delMsgIcon:hover {
    background: tomato;
}

.reactMsgIcon:hover {
    background: deepskyblue;

}

.delMsgIcon:hover img {
    filter: invert(1);
}

.reactMsgIcon:hover img {
    filter: invert(1);
}

.EmojiPickerBx {
    visibility: hidden;
    /* transform: translateX(-50%) scale(0); */
    translate: -50% 0%;
    scale: 0;
    transform-origin: bottom;
    transition: .3s all cubic-bezier(0.475, 0.885, 0.32, 1.375) !important;
}

/* .reactMsgIcon:hover .EmojiPickerBx {
    transition-delay: .1s;
    visibility: visible;
    transform: translateX(-50%) scale(1);
} */
.EmojiPickerBx.active {
    transition-delay: .1s;
    visibility: visible;
    translate: -50% 0%;
    scale: 1;
}