.chaticon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: -25px;
    background: white;
    left: 50%;
    transform: translateX(-50%);
    padding: .5rem;
    animation: float 3s ease-in-out infinite;
}

.chakra-slide {
    max-width: 355px !important;
}

.sentBtn:active {
    transition: .2s ease-in-out;
    transform: scale(.8);

}
.chat_menu{
    position:absolute;
    background:white;
    top:1px; 
    left:-8.2rem; 
    z-index:1; 
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    border-radius: .1rem;
    transition: .2s all ;
    transform-origin: top right;
    transform: scale(0);
}


.menu_open{
    transform: scale(1);
}

.chat_menu span{
    width: 100%;
    padding: .5rem 1rem !important;
    justify-content: space-between;
    gap: .5rem;
    font-size: .8rem;
    font-weight: 500;
}

.chat_menu span:hover{
    background: #ebeff0b0;
}

@keyframes float {

    0% {
        transform: translate(-50%, 0px);
    }

    50% {
        transform: translate(-50%, 15px);
    }

    100% {
        transform: translate(-50, -0px)
    }

}

.userAvatarBtn:hover {
    background: transparent !important;
}

.userAvatarBtn:hover .userAvatar {
    box-shadow: 0 0 0 2px white !important;
}
.borderT-B{
    border-top: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.disabledBg{
    background: #d5efff !important;
}

.profileDetailInpt {
    text-align: center;
    min-width: 7ch !important;
    max-width: 90% !important;
    outline: none;
    background: transparent;
    border: none;
}

.InptBox {
    padding-left: .5rem !important;
    padding-right: .5rem !important;
    /* max-width: ; */
    background-color: rgb(241, 243, 244);
    position: relative;
    transition: .3s;
}
.InptBox::after{
    content: "";
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 1.5px;
    transition: .5s all;
    background: rgb(8, 142, 225);
    transform-origin: center;
    transform: scale(0);
}

.InptBox.active::after {
    transform: scale(1);
}

.nameInptBox {
    background: transparent !important
}

.chaticon img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.chakra-tabs__tab[aria-selected=true] {
    background: aliceblue !important;
}

.chat1_icon{
 transform: translateX(-3rem);
}
.chat2_icon{
    transform: translateX(3rem);
}

.MessagesBox {
    position: relative;
}

.MessagesBox::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../Images/Bg1.jpg');
    background-position: fixed;
    background-size: contain;
    margin-left: .2rem;
    opacity: .9;
    filter: grayscale(1) brightness(95%);
}

.MessagesBox::-webkit-scrollbar {
    display: none;
}

.latestMessageDateTime {
    transform: translate(.4rem, -.5rem);
    padding: 0 .3rem;
}

.unSeen {
    font-weight: 500 !important;
    color: #12c9d2;
}


.notification_badge {
    font-size: 12px !important;
    border-radius: 50% !important;
    width: 1.3rem !important;
    height: 1.3rem !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.MsgTime {
    font-size: .6rem;
    color: black !important;
    text-shadow: none !important;
    display: inline-block;
    transform: translate(7px, 2px);
}

#messagesDisplay::-webkit-scrollbar {
    display: none;
}
.profileDrawer::-webkit-scrollbar{
    display: none;
}

.messagesDay {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: .1rem 1rem;
    border-radius: 2rem;
    font-size: .8rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
    font-weight: bold;
}

.GroupUsersBox::-webkit-scrollbar {
    width: .5rem;
    background: transparent;
}

.GroupUsersBox::-webkit-scrollbar-thumb {
    background: #c6c6c6b9;
    background-color: rgb(226, 229, 229);
    border-radius: 10rem;
}
.userChipBox::-webkit-scrollbar{
    height: 8.5px;
    background: transparent;
}
.userChipBox::-webkit-scrollbar-thumb{
    background-color: rgb(226, 229, 229);
    border-radius: 10rem;
}

.GroupUser:hover .Admin {
    background: #65f9ee94;
}

.profileDrawer{
    transition: .3s ease !important;
}
/* cubic-bezier(0.175, 0.885, 0.32, 1.275) */
/* cubic-bezier(0.25, 0.46, 0.45, 0.94) */
.DrawerInner { transition: .8s all cubic-bezier(0.25, 0.46, 0.45, 0.94) }

.TopHide{
    opacity: 0;
    transform: translateY(-300px);
}

.transformCenter{
    transform: translate(-50%,-50%);
}
.maxWidth520 {
    max-width: 520px !important;
}

textarea{
    resize: none !important;
    max-height: 115px !important;
}

@media (max-width:770px) {
    .chakra-modal__content {
        width: 94.9% !important;
    }

    .MessagesBox::before {
        margin-left: 0rem;
    }

    .profileDetailInpt {
        max-width: 90% !important;
    }

    .nameInptBox {
        max-width: 20ch !important;
    }
}