:root {
    --scrollBar-color: rgb(226, 229, 229);
    --scrollBar-color-dark: rgb(192, 192, 192);
}

.chaticon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: -25px;
    background: white;
    left: 50%;
    transform: translateX(-50%);
    padding: .5rem;
    animation: float 3s ease-in-out infinite;
}
.mb_0{
    margin-bottom: 0 !important;
}
.chakra-slide {
    max-width: 355px !important;
}

.sentBtn:active {
    transition: .2s ease-in-out;
    transform: scale(.8);
}

.ImageDropZone {
    height: 6rem;
}

.chat_menu {
    position: absolute;
    background: white;
    top: 1px;
    right: 1rem;
    z-index: 1;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    border-radius: .1rem;
    transition: .2s all;
    transform-origin: top right;
    transform: scale(0);
}

.textEllipsis{
    overflow-x: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chat_menu_top10{
    top: -10rem !important;
    transform-origin: bottom right !important;
}

.menu_open {
    transform: scale(1);
}

.chakra-alert {
    border-radius: inherit !important;
}

.chakra-avatar__img {
    transition: .2s all ease-in-out;
}

.viewProfileImg {
    position: fixed !important;
    top: 24% !important;
    left: 39% !important;
    width: 23rem !important;
    height: 23rem !important;
    border-radius: 0.1rem !important;

}

.sendPicx-mark {
    position: absolute;
    right: -0.3rem;
    cursor: pointer;
    top: -0.6rem;
    background: #b9cadb;
    padding: 0.12rem 0.22rem .1rem .25rem;
    border-radius: 50%;
    font-size: .8rem;
    color: black;
    border: 2px solid white;
}

.sendPicx-mark:hover {
    background: #c6d5e3;

}

.chat_menu span {
    width: 100%;
    padding: .5rem 1rem !important;
    justify-content: space-between;
    gap: .5rem;
    font-size: .8rem;
    font-weight: 500;
}

.chat_menu span:hover {
    background: #ebeff0b0;
}

@keyframes float {

    0% {
        transform: translate(-50%, 0px);
    }

    50% {
        transform: translate(-50%, 15px);
    }

    100% {
        transform: translate(-50, -0px)
    }

}

.userAvatarBtn:hover {
    background: transparent !important;
}

.userAvatarBtn:hover .userAvatar {
    box-shadow: 0 0 0 2px white !important;
}

.borderT-B {
    border-top: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.disabledBg {
    background: #d5efff !important;
}

.profileDetailInpt {
    text-align: center;
    min-width: 7ch !important;
    max-width: 90% !important;
    outline: none;
    background: transparent;
    border: none;
}

.InptBox {
    padding-left: .5rem !important;
    padding-right: .5rem !important;
    background-color: rgb(241, 243, 244);
    position: relative;
    transition: .3s;
}

.InptBox::after {
    content: "";
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 1.5px;
    transition: .5s all;
    background: rgb(8, 142, 225);
    transform-origin: center;
    transform: scale(0);
}

.InptBox.active::after {
    transform: scale(1);
}

.nameInptBox {
    background: transparent !important
}

.chaticon img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.chakra-tabs__tab[aria-selected=true] {
    background: aliceblue !important;
}

.chat1_icon {
    transform: translateX(-3rem);
}

.chat2_icon {
    transform: translateX(3rem);
}

.MessagesBox {
    position: relative;
}

.MessagesBox::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://cdn.wallpapersafari.com/27/32/jt4AoG.jpg');
    background-position: fixed;
    background-size: contain;
    margin-left: .2rem;
    opacity: .9;
    filter: grayscale(1) brightness(100%);
}

.MessagesBox::-webkit-scrollbar {
    display: none;
}

.transformPaddingPlus {
    transform: translate(.4rem, -.5rem);
    padding: 0 .3rem;
}

.unSeen {
    font-weight: 500 !important;
    color: #12c9d2;
}

.notification_badge {
    font-size: 11.5px !important;
    border-radius: 50% !important;
    top: 1px !important;
    width: 1.33rem !important;
    height: 1.33rem !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border: 1.7px solid #27aea4;
}

.MsgTime {
    font-size: .6rem;
    color: black !important;
    text-shadow: none !important;
    display: inline-block;
    transform: translate(7px, 2px);
}

#messagesDisplay::-webkit-scrollbar {
    width: 8px;
    padding-right: .3rem;

}
#messagesDisplay::-webkit-scrollbar-thumb {
    width: 23px;
    background: rgb(188, 188, 188);
}

.profileDrawer::-webkit-scrollbar,.ChatsSkeletonBox::-webkit-scrollbar {
    display: none;
}

.messagesDay {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: .1rem 1rem;
    border-radius: 2rem;
    font-size: .8rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, .3);
    font-weight: bold;
}

.GroupUsersBox::-webkit-scrollbar {
    width: .5rem;
    background: transparent;
}

.GroupUsersBox::-webkit-scrollbar-thumb {
    background-color: var(--scrollBar-color);
    border-radius: 10rem;
}

.userChipBox::-webkit-scrollbar {
    height: 8.5px;
    background: transparent;
}

.userChipBox::-webkit-scrollbar-thumb {
    background-color: var(--scrollBar-color);
    border-radius: 10rem;
}

.chakra-modal__body::-webkit-scrollbar {
    width: .5rem;
    display: none;
    background: transparent;
}
.chakra-modal__body::-webkit-scrollbar-thumb {
    background-color:var(--scrollBar-color-dark) ;
    margin-right: .5rem;
}

.GroupUser:hover .Admin {
    background: #ffffffc9;
}

.profileDrawer {
    transition: .3s ease !important;
}

/* cubic-bezier(0.175, 0.885, 0.32, 1.275) */
/* cubic-bezier(0.25, 0.46, 0.45, 0.94) */
.DrawerInner {
    transition: .8s all cubic-bezier(0.25, 0.46, 0.45, 0.94)
}

.TopHide {
    opacity: 0;
    transform: translateY(-300px);
}

.transformCenter {
    transform: translate(-50%, -50%);
}

.maxWidth520 {
    max-width: 520px !important;
}

textarea {
    resize: none !important;
    max-height: 115px !important;
}

@media (max-width:770px) {
    #messagesDisplay::-webkit-scrollbar {
      display: none;
    }
    .GroupUsersBox::-webkit-scrollbar {
        display: none;
        background: transparent;
    }

    .notification_badge {
        font-size: 11.2px !important;
        top: 2px !important;
        right: -3.2px !important;
        width: 1.2rem !important;
        height: 1.2rem !important;
        border: 0px solid transparent;
        box-shadow: 0 0 0 1px #27aea4;
    }

    .chakra-modal__content {
        width: 94.9% !important;
    }

    .MessagesBox::before {
        margin-left: 0rem;
    }

    .profileDetailInpt {
        max-width: 90% !important;
    }

    .nameInptBox {
        max-width: 20ch !important;
    }

    .MessagesBox::before {
        background-size: cover;
    }
}