.App{
    background: url('./Images/Bg1.jpg');
    min-height: 100vh;
    display: flex;
    background-position: center;
    font-family: Roboto;
}
html,body {    
    height:100%;
    margin: 0;
}
.red{
    color: red;
    font-weight: bold;
}
.left0{
    left: 0 !important;
}
.allchatsBox::-webkit-scrollbar{
    width: .7rem;
    background: transparent;
    display: none;
}
.allchatsBox::-webkit-scrollbar-thumb{
    background: rgba(209, 209, 209, 0.644);
    border-radius: 2rem;
}
.right0{
    right: 0 !important;
}
.bg_red{
    background-color: red;
}
.black-200{
    color: black;
    opacity: .5;
}
.translateXFull{
    transform: translateX(400px);
}
.translateXFull-{
    transform: translateX(-400px);
}
.hide{
    transform: translateX(200px);
    opacity: 0;
}
.ml-3{
    margin-left: .3rem;
}
.mr-3{
    margin-right: .3rem;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.MessageBoxInput{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    color: black;
    background-color: transparent;
    font-size: 1.15rem;
    padding:.6rem 0.5rem;
}
.hideleft{
    transform: translateX(-300px);
    opacity: 0;
}
.hidetop{
    transform: translateY(-200px);
}
.translateY200{
    transform: translateY(200px);
}
.chaticon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    background: white;
    left: 50%;
    transform: translate(-50%);
    padding: .5rem;
}
.chaticon img{
    width: 100%;
    height: 100%;
    object-fit: cover
}

/* brand logo css starts............... */

.brand_logo{
    display: block;
    margin: auto;
    width: 100%;
    position: relative;
    font-size: 1.6rem;
    color: rgb(14, 34, 34);
    font-weight: 400;
    z-index: -1;
    width: fit-content;
}
.brand_logo .brandpic{
 
    overflow: hidden;
    width: 35px;
    height: 35px;
    position: absolute;
    top: -19px;
    padding: 0.3rem;
    border-radius: 50%;
    box-shadow: 0 0 2px rgb(0 0 0 / 20%);
    left: -27px;
}
.brand_logo .brandpic img{
    z-index: 2;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* brand logo css ends............... */


@media (max-width:650px){
.App{
    background-size: contain;
}
.brand_logo{
    font-size: 1.4rem;
}
.brand_logo .brandpic{
    overflow: hidden;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -17px;
    padding: 0.3rem;
    border-radius: 50%;
    box-shadow: 0 0 2px rgb(0 0 0 / 20%);
    left: -21px;
}
.hide{
    transform: translateY(-200px);
    opacity: 0;
}
}

@media (max-width:370px){
   html{
    font-size: 1rem;
   }
}

